
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0a2240;
    color: #f6f6f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteudo-principal {
    padding: 40px 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-destaque {
    width: 100%;
    max-width: 800px;
}

.caixa {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.texto-destaque {
    flex: 1;
}

.subtitulo {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titulo {
    font-size: 36px;
    color: #5ecbff;
    margin-bottom: 10px;
}

.descricao {
    font-size: 20px;
    color: #e0e0e0;
    margin-bottom: 0;
}


.botao-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    transition: transform 0.3s;
}

.botao-link:hover {
    transform: translateX(5px);
}

.icone {
    width: 50px;
    height: 50px;
    background-color: #5ecbff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.legenda-icone {
    color: #5ecbff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.barra-progresso {
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
    position: relative;
}

.linha {
    height: 100%;
    width: 70%;
    background-color: #0a2240;
}

.ponto {
    width: 12px;
    height: 12px;
    background-color: #0a2240;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: #e0e0e0;
}

.titulo-destaque {
    color: #5ecbff;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: #e0e0e0;
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid #5ecbff;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #5ecbff;
    font-weight: 600;
    transition: background-color 0.3s;
}

.apresentacao__links__link:hover {
    background-color: #0a2240;
    border-color: #0a2240;
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(94, 203, 255, 0.3);
}